/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.upper-body {
    margin: 30px 90px 0px 90px;
}

/* banner style */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #161616;
    padding: 40px 90px 0px 90px;
    border-radius: 20px;
}

.banner-left {
    width: 45%;
    height: 70%;
    margin-bottom: 65px;
    margin-right: 50px;
}

.banner-left h1 {
    color: #FFFFFF;
    font-size: 4.2vw;
    line-height: 60px;
    margin-bottom: 20px;
}

.header-small {
    color: #FFFFFF;
    font-size: 1vw;
}

.watch-live-button {
    width: 140px;
    background-color: #DD0000;
    color: #FFFFFF;
    font-size: 1.2vw;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 17px;
}

.fa-greater-than {
    margin-left: 5px;
}

.banner-image img {
    width: 100%;
    height: 450px;
}

/* middle of left-right */
.left-right {
    display: flex;
    margin-top: 80px;
    margin-bottom: 90px;
}

.left-upcoming {
    width: 300px;
    height: 20%;
    background-color: #161616;
    border-radius: 7px;
    padding: 20px;
    margin-right: 20px;
}

.left-upcoming a {
    text-decoration: none;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}
.upcoming-match, .all-group{
    background-color: #FFFFFF;
    color: black;
    margin-top: 15px;
}
.blog{
    margin-top: 15px;
    background-color: #DD0000;
    color: white;
}

.right-transfer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.transfer-player {
    display: flex;
    flex-direction: column;
}

.transfer-button {
    background-color: #FFFFFF;
    padding: 4px 7px;
    border-radius: 3px;
    border: 1px solid black;
}

.transfer-player img {
    width: 100%;
}

.but-des-time {
    padding: 20px;
}

.time-chat {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.icon {
    align-items: center;
}

.icon img {
    width: 18px;
    height: 18px;
}

/* footer style */
footer{
    background-color: #161616;
    padding: 80px 50px;
}
h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5vw;
}
hr{
    margin: 10px 90px;
    border: 0.5px solid rgba(255, 255, 255, 0.1);
}
.footer-para{
    display: flex;
    justify-content: space-between;
    color: #B9B9B9;
    font-size: 1vw;
    font-weight: 500;
    margin: 0px 160px;
}

/*.......................
 next html all styles
 ........................ */
 .next-upcoming {
    width: 480px;
    height: 20%;
    background-color: #161616;
    border-radius: 7px;
    padding: 20px;
    margin-right: 20px;
}
.next-upcoming a {
    text-decoration: none;
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    font-size: 1.2vw;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
}
.next-blog, .next-all-group{
    background-color: #FFFFFF;
    color: black;
    margin-top: 15px;
}
.next-upcoming-match{
    margin-top: 15px;
    background-color: #DD0000;
    color: white;
}
 .right-german-france{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }
 .flag-title{
    border: 2px solid #E8E8E8;
    border-radius: 10px;
    padding: 40px 20px;
 }
 .flag{
    width: 50%;
    color: #161616;
    display: flex;
    gap: 10px;
    font-size: 1.3vw;
    font-weight: 600;
 }
 .flag-image{
    height: 60px;
     box-sizing: border-box;
     max-width: 80%;
     max-height: 100%;
     width: 300px;
 }
 .title-date{
    text-align: center;
 }
 .title{
    color: #161616;
    font-size: 1.3vw;
    font-weight: 600;
 }
 .date{
    font-size: 1vw;
    color: #4D4D4D;
 }

/* media queries */
@media screen and (max-width: 980px) {
    .banner-image img {
        width: 350px;
    }
}